.big-button {
  padding: 6px 12px;
}

.big-button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

th {
  color: white;
  background-color: black;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}
