* {
  width: 96%;
  margin: auto;
  font-family: "DM Sans", sans-serif;
}

.row {
  display: flex;
  text-align: center;
}

.free, .yves, .tiffany, .louis, .reformation, .price1, .price2, .price3, .price4 {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1%;
}

.size {
  text-align: start;
  border-left: 2px solid #DBDBDB;
  color: #DBDBDB;
}

.item-name1 {
  width: 63%;
}

.item-size1 {
  margin-left: -4%;
  padding-left: 1.5%;
}

.item-name2 {
  margin-left: 3%;
  padding-right: 1%;
}

.item-size2 {
  padding-left: 1.5%;
}

.item-name3 {
  width: 29%;
}

.item-size3 {
  margin-left: -1%;
  padding-left: 1.5%;
}

.item-name4 {
  width: 66%;
}

.item-size4 {
  margin-left: -2%;
  padding-left: 1.5%;
}

.item-name5 {
  width: 68%;
}

.item-size5 {
  margin-left: -3%;
  padding-left: 1.5%;
}

.price1 {
  width: 65%;
}

.span1, .span2, .span3, .span4 {
  background-color: #FFF2E7;
}


.thirty-five {
  width: 23%;
}

.price-text {
  text-align: left;
  margin-left: 2%;
  color: #DBDBDB;
}

.price2 {
  width: 62%;
}

.two-hundred {
  width: 20%;
}

.price3 {

}
