.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-half {
  width: 50%;
}

.column-one-third {
  width: 33.3%;
}

.column-one-forth {
  width: 25%;
}

.images {
  width: 100%;
}
